<!DOCTYPE html>
<html>
    <head>
             <link href="./public/style.css" rel="stylesheet">
    </head>

    <body>
        <h1>Sign & Save Money</h1>
    <div id="login">
    <form action="/signup" method="POST">
        <label for="name">User Name:</label>
        <input type="text" name="name">
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email">
        <br>
        <label for="password">password</label>
        <input type="password" name="password">
        <br>
        <label for="confirm">confirm password</label>
        <input type="password" name="confirm">
        
        <br>
        <input type="submit" value="SignUp" style=" border= 5px red; padding:5px; font-size:20px"  >
    </form>
<p>
new User??
<a href="/signup">SignUp!!</a> 
</p>
</div>
    
    </body>

</html>